#sidebar {
	color: #FFFFFF;
	background-color: #970000; 
	text-align: center;
	width: 100%;
	top: 0;
    position: sticky;
}

#sidebar font {
	box-sizing: border-box;
    display: inline-block;
    height: 50px;
    width: 100px; 
    font: normal normal normal normal 14px / 21px OpenSans, Arial, sans-serif;
    margin: 0px 0px 0px 10px;
    padding: 15px 10px 15px 10px;
    position: relative;
    bottom: 30px;
    text-shadow: 1px 1px black;
    
}

#sidebar a {
	color: #FFFFFF;
}

#sidebar a:visited {
	text-decoration: none;	
	color: #FFFFFF;
} 

#main {
	margin: auto;
	text-align: center;
}

#header {
	/* position: relative; */
	margin-bottom: 50px;
	height: 60px;
	z-index: initial;
}


#header, .title {
	letter-spacing: 2px;
}

.title {
	text-transform: uppercase;
}


#dominant img {
	padding: 1px;
}

#seperation {
	display: none;
}

#sidebar br {
	display: none;
}

a {
	color: #FFFFFF;	
}

a:visited {
	text-decoration: none;	
	color: #FFFFFF;
}

#dominant a { 
	color: #000000;
	cursor:e-resize;
}


.main_td {
	padding: 20px 40px;
  	border: 1px solid black;
  	display: block;
  	width: 100%;
  	horizontal-align: center;
}

#assignments {
	margin: auto;
	border-collapse: collapse; 
}






